---
const navLinks = [
	{ text: 'About Me', url: 'about-me' },
	{ text: 'Services', url: 'services' },
	{ text: 'Testimonials', url: 'testimonials' },
	{ text: 'Contact Me', url: 'contact-me' },
];

const { title } = Astro.props;
---

<nav id="desktop-nav" data-title={title}>
	<ul>
		{
			navLinks.map((entry) => {
				return (
					<li>
						<a
							href={`/connors-custom-plumbing/${entry.url}`}
							class='nav-button'
						>
							{entry.text}
						</a>
					</li>
				);
			})
		}
	</ul>
</nav>

<nav id="mobile-nav" data-title={title}>
	<ul>
		{
			navLinks.map((entry) => {
				return (
					<li>
						<a
							href={`/connors-custom-plumbing/${entry.url}`}
							class='nav-button'
						>
							{entry.text}
						</a>
					</li>
				);
			})
		}
	</ul>
</nav>

<style>
	nav {
		padding: 1rem 0rem 1rem 0rem;
		grid-column: 1/4;
		grid-row: 2/3;
	}

	ul {
		margin-top: 1rem;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	li {
		list-style: none;
		font-family: 'Roboto', sans-serif;
		font-size: 1.5rem;
	}

	a {
		padding: 0.5rem;
		border-radius: 0.5rem;
		text-decoration: none;
		color: rgb(var(--font-color));
	}

	a:hover {
		transform: scale(1.05);
		font-weight: 900;
	}

	.nav-selected {
		background-color: rgb(var(--accent), 0.2);
		transition-duration: 0.3s;
	}
	@media only screen and (min-width: 769px) and (orientation: landscape) {
		#desktop-nav {
			display: block;
		}
		
		#mobile-nav {
			position: relative;
			display: none;
		}

	}
	@media only screen and (max-width: 768px) {
		#desktop-nav {
			position: relative;
			display: none;
		}

		#mobile-nav {
			position: relative;
			display: none;
			padding: 0;
		}


		#mobile-nav > ul {
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;

			padding: 0.5rem;
			background-color: rgb(var(--background));

		}

		.nav-selected {
			padding: 0.25rem;
		}
	}
</style>

<script>
	const navBar = document.getElementsByTagName('nav');
	const pageTitle = navBar[0].dataset.title;

	const navLinks = document.getElementsByTagName('a');

	switch (pageTitle) {
		case 'CCM - About Me':
			navLinks[0].classList.add('nav-selected');
			navLinks[4].classList.add('nav-selected');
			break;
		case 'CCM - Services':
			navLinks[1].classList.add('nav-selected');
			navLinks[5].classList.add('nav-selected');
			break;
		case 'CCM - Testimonials':
			navLinks[2].classList.add('nav-selected');
			navLinks[6].classList.add('nav-selected');
			break;
		case 'CCM - Contact Me':
			navLinks[3].classList.add('nav-selected');
			navLinks[7].classList.add('nav-selected');
			break;
	}
</script>
